@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2a') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

.field:focus-within label {
  font-weight: bold;
}

/* becomes */

.field[focus-within] label {
  font-weight: bold;
}

.field:focus-within label {
  font-weight: bold;
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.body {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
}

/*glob*/

.container {
  margin: 0 auto;
  max-width: 1800px;
  padding: 0 15px;
  width: 100%;
}

.section-title {
  margin: 0;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  color: #333;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

/*header*/

.header {
  padding: 12px 0;
  min-height: 100px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  align-items: center;
  margin-bottom: 0;
}

.header__menu {
  display: none;
}

.header__logo {
  margin-right: auto;
}

.header__logo:focus {
  outline: 2px solid #FF9900;
}

.header__logo-img {
  width: 224px;
  height: 100%;
}

.header__close {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.header__list {
  margin-right: 85px;
}

.header__item {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  transition-property: color, box-shadow;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.header__link:hover {
  box-shadow: 0 2px 0 #FF9900;
}

.header__link:focus {
  outline: 2px solid #FF9900;
}

.header__link:active {
  color: #E1670E;
  box-shadow: 0 2px 0 #E1670E;
  outline: none;
}

.header__btn {
  display: inline-block;
}

.header__btn:focus {
  outline: 2px solid #FF9900;
}

.header__btn:active {
  outline: none;
}

.header__search rect, .header__search path {
  transition-property: fill, stroke;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.header__btn-open {
  transition: opacity .3s ease-in-out;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.header__btn-open.active {
  opacity: 0;
}

.header__search:hover rect {
  fill: #FF9900;
}

.header__search:hover path {
  stroke: #FF9900;
}

.header__btn-open:focus {
  outline: 2px solid #FF9900;
}

.header__btn-submit:focus {
  outline: 2px solid #FF9900;
}

.header__search:active rect {
  fill: #FF9900;
}

.header__search:active path {
  stroke: #FF9900;
}

.header__btn-submit {
  margin-left: 14px;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.header__form {
  display: none;
  align-items: end;
  flex-direction: row-reverse;
  border: 2px solid grey;
  padding: 16px 13px 16px 32px;
  max-width: 539px;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  transform: translateX(100%);
  background-color: #fff;
  opacity: 0;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s;
}

.header__input {
  width: 414px;
  padding: 5px;
  margin: 0;
  margin-right: 3px;
  border: none;
  border-bottom: 1px solid #DCDCDC;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ADADAD;
}

.header__input:focus-visible {
  outline: 0;
  opacity: 0.8;
}

.form__active {
  display: flex;
  transform: translateX(-95%) translateY(-30%);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 12%);
  border-radius: 16px;
  border-color: white;
  background: #FFFFFF;
  opacity: 1;
}

.header__btn-close {
  margin-left: 20px;
  padding: 0px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.header__close-search:hover rect {
  fill: #FF9900;
}

.header__close-search:hover circle {
  stroke: #FF9900;
}

.header__btn-close:focus {
  outline: 2px solid #FF9900;
}

.header__close-search:active rect {
  fill: #333333;
}

.header__close-search:active circle {
  stroke: #333333;
}

/*hero*/

.hero__container {
  max-width: 1770px;
  padding: 0px;
  margin-bottom: 100px;
}

.hero__content {
  position: relative;
  z-index: 1;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 837px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero__descr {
  margin: 0;
  margin-bottom: 90px;
  max-width: 790px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #fff;
}

.hero__btn {
  border: none;
  padding: 25px 36px 24px 36px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #FFFFFF;
  transition: background 0.3s ease;
  background: #FF9900;
  cursor: pointer;
}

.hero__btn:hover {
  background: #FF9900B2;
}

.hero__btn:focus {
  background: #FF9900B2;
  outline: none;
}

.hero__btn:active {
  background: #E1670E;
}

.swiper.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(1) {
  background-image: url("../img/hero-bg.jpg");
}

.swiper-slide:nth-child(2) {
  background-image: url("../img/hero-bg-2.jpg");
}

.swiper-slide:nth-child(3) {
  background-image: url("../img/hero-bg-3.jpg");
}

.hero__pagination.swiper-bullet-pagination {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: white;
}

.swiper-horizontal .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 27px;
  margin-bottom: 3px;
}

.swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets .swiper-pagination-horizontal {
  margin-left: 10px;
  right: 0px;
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px;
  margin-right: 20px;
}

.swiper-horizontal:focus {
  outline: 2px solid #FF9900;
}

.swiper-pagination-bullet:focus {
  outline: 2px solid #FF9900;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
}

/*about*/

.about-us__container {
  margin-bottom: 100px;
}

.about-us__title {
  margin-bottom: 20px;
  padding-left: 2px;
  font-size: 48px;
  line-height: 59px;
}

.about-us__descr {
  margin: 0px;
  margin-bottom: 49px;
  padding-right: 535px;
  min-height: 192px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
}

.about-us__bottom {
  width: 100%;
  min-height: 196px;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 50px 5% 50px 5%;
}

.about-us__blog {
  width: 100%;
}

.about-us__blog-item {
  align-items: flex-end;
  width: 98%;
  height: 100%;
  min-height: 622px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(../img/project.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us__blog-descr {
  display: inline-block;
  margin: 0px;
  margin-right: auto;
  max-width: 454px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #FFFFFF;
}

.about-us__blog-btn {
  width: 175px;
  height: 60px;
  border: 3px solid #FF9900;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  background: rgba(48, 47, 47, 0);
}

.about-us__blog-btn:hover {
  background: #FF9900;
}

.about-us__blog-btn:focus {
  background: #FF9900;
  outline: none;
}

.about-us__blog-btn:active {
  background: #E1670E;
}

.about-us__list {
  width: 100%;
}

.about-us__item {
  padding: 63px 116px 61px 315px;
  border: 1px solid #CACACA;
  min-height: 295px;
  background-repeat: no-repeat;
  background-size: 190px 165px;
  background-position: top 65px left 70px;
}

.about-us__item:not(:last-child) {
  margin-bottom: 32px;
}

.about-us__item:nth-child(1) {
  background-image: url("../img/project_2.svg");
}

.about-us__item:nth-child(2) {
  background-image: url("../img/project_1.svg");
}

.blog-text-title {
  display: inline-block;
  margin: 0 0 10px 0;
  max-width: 452px;
  font-size: 24px;
  line-height: 29.5px;
  font-weight: 700;
}

.blog-text-descr {
  margin: 0px;
  font-size: 16px;
  line-height: 32px;
}

/*work*/

.work__container {
  margin-bottom: 101px;
}

.work__title {
  margin-bottom: 51px;
}

.work__list {
  width: 100%;
  margin-bottom: 45px;
}

.work__item-btn {
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.8s linear;
}

.work__item-btn:hover {
  color: #FF9900;
}

.work__item-btn:focus {
  color: #000;
  outline: 2px solid #FF9900;
}

.work__item-btn:active {
  color: #E1670E;
  outline: none;
}

.work__item--active {
  color: #E1670E;
}

.work__item:not(:last-child) {
  margin-right: 86px;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: block;
}

.work__left-block {
  background-position: left 900px top 8px;
  background-size: 49% 98%;
  background-repeat: no-repeat;
  background-size: cover;
}

.work__first-tab {
  background-image: url("../img/work-bg-1.jpg");
}

.work__second-tab {
  background-image: url("../img/work-bg-2.jpg");
}

.work__third-tab {
  background-image: url("../img/work-bg-3.jpg");
}

.work__fourth-tab {
  background-image: url("../img/work-bg-4.jpg");
}

.work__title-descr {
  margin: 0px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.work__descr {
  margin: 0px;
  margin-bottom: 49px;
  width: 43%;
  font-size: 16px;
  line-height: 32px;
}

.work__btn {
  margin-right: 28px;
  padding: 19px 39px 21px 38px;
  border: none;
  width: 175px;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  transition: background 0.3s ease;
  background: #FF9900;
  cursor: pointer;
}

.work__btn:hover {
  background: #F7B045;
}

.work__btn:focus {
  background: #F7B045;
  outline: none;
}

.work__btn:active {
  background: #E1670E;
}

.work__btn-docs {
  padding: 19px 38px;
  width: 147px;
  height: 60px;
  border: 1px solid #333;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333;
  transition: background 0.3s ease, color 0.5s linear;
  background: #FFFFFF;
  cursor: pointer;
}

.work__btn-docs:hover {
  color: #FFFFFF;
  background: #666666;
}

.work__btn-docs:focus {
  color: #FFFFFF;
  background: #666666;
  outline: none;
}

.work__btn-docs:active {
  color: #FFFFFF;
  background: #000000;
}

/*ask*/

.ask__container {
  margin-bottom: 97px;
}

.ask__title {
  margin-bottom: 44px;
}

.ask__item {
  position: relative;
  padding: 39px 0;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  transition: border-color .3s ease-out;
  cursor: pointer;
}

.ask__item:not(:first-child) {
  margin-top: -1px;
}

.ask__item:hover {
  z-index: 1;
  border-color: #FF9900;
}

.ask__item:focus {
  border-color: #FF9900;
  outline: none;
}

.ask__head {
  outline: none;
  border: none;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 32px;
  color: #333333;
  background-color: white;
  transition: color .3s ease-out;
}

.ask__head-slash {
  color: #CACACA;
}

.ui-accordion .ui-accordion-header {
  margin: 0px;
  font-size: 26px;
}


.ask__head:hover {
  color: #FF9900;
}

.ask__head:focus {
  color: #FF9900;
}

.ask__head:active {
  color: #333333;
}

.ask__item:hover .ask__head {
  color: #FF9900;
}

.ask__item:focus .ask__head {
  color: #FF9900;
}

.ask__more {
  position: absolute;
  right: 0;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
}

.ask__more ellipse, .ask__more path {
  transition: fill .3s ease-out;
}

.ask__item:hover .ask__more path {
  fill: #fff;
}

.ask__item:hover .ask__more ellipse {
  color: #FF9900;
  fill: #FF9900;
}

.ask__item:focus .ask__more ellipse {
  fill: #fff;
}

.ask__item:focus .ask__more ellipse {
  fill: #FF9900;
}

.ask__item:active .ask__more {
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

.frequently-asked-questions__content style {
  display: none;
}

.ui-accordion .ui-accordion-header {
  padding: 0;
  font-size: 24px;
}

.ui-accordion .ui-accordion-content {
  max-width: 1003px;
  font-size: 16px;
  padding: 30px 0 3px;
}

.asl__content {
  max-width: 1003px;
  font-size: 16px;
  line-height: 32px;
}

.ui-accordion-content-active {
  border: none;
}

.ask__descr-1 {
  margin-bottom: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.ask__descr-2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

/*footer*/

.footer {
  background: #222222;
}

.footer__container {
  padding: 50px 15px 45px;
  margin-bottom: 0;
  justify-content: space-between;
}

.footer__left {
  display: inline-flex;
  min-width: 252px;
  flex-direction: column;
}

.footer__logo {
  width: 224px;
  margin-bottom: 20px;
}

.footer__logo:focus {
  outline: 2px solid #FF9900;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__href {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.footer__href:hover {
  color: #FF9900;
}

.footer__href:focus {
  outline: 2px solid #FF9900;
  box-sizing: border-box;
}

.footer__href:active {
  color: #E1670E;
  outline: none;
}

.footer__item-social:not(:last-child) {
  margin-right: 25px;
  cursor: pointer;
}

.footer__social-link {
  display: inline-block;
}

.footer__social-link path {
  transition: fill .3s ease-out;
}

.footer__social-link:hover path {
  fill: #FF9900;
}

.footer__social-link:focus {
  outline: 2px solid #FF9900;
}

.footer__social-link:active {
  outline: none;
}

.footer__social-link:active path {
  fill: #E1670E;
  outline: none;
}

.footer__social-icon {
  width: 60px;
  height: 60px;
}

.footer__center {
  max-width: 570px;
  transform: translateX(52px);
}

.footer__title {
  margin: 0px;
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}

.footer__form-input {
  margin-bottom: 25px;
  padding-left: 24px;
  border: none;
  width: 100%;
  min-height: 60px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  background: #414141;
  cursor: pointer;
}

.footer__input-mail {
  margin-bottom: 26px;
}

.footer__form-textarea:hover {
  background: #666666;
}

.footer__form-textarea:focus {
  background: #666666;
}

.footer__form-textarea:active {
  color: #FFFFFF;
  background: #666666;
}

.footer__form-textarea {
  margin-bottom: 28px;
  padding-top: 14px;
  padding-left: 24px;
  border: none;
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  background: #414141;
}

.footer__form-input:hover {
  background: #666666;
}

.footer__form-input:focus {
  background: #666666;
}

.footer__form-input:active {
  color: #FFFFFF;
  background: #666666;
}

.footer__btn {
  padding: 19px 52px 18px 52px;
  margin-right: 20px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: #FF9900;
  transition: background 0.3s ease;
}

.footer__btn:hover {
  background: #F7B045;
}

.footer__btn:focus {
  background: #F7B045;
  outline: none;
}

.footer__btn:active {
  background: #E1670E;
}

.footer__check {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  cursor: pointer;
}

.footer__check:focus-within {
  outline: 2px solid #FF9900;
}

.footer__checkbox {
  opacity: 0;
}

.footer__checkbox+span {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 9px;
  width: 14px;
  height: 14px;
  padding: 1px;
  outline: 1px solid #CACACA;
  box-sizing: border-box;
  text-align: center;
}

.footer__checkbox+span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-image: url('../img/check.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__checkbox:checked+span::before {
  opacity: 1;
}

.footer__right {
  padding-top: 87px;
  width: 20%;
  transform: translateX(-10px);
}

.footer__descr {
  margin: 0px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

@media (min-width:1025px) and (max-width: 1550px) {
  .about-us__blog-item {
    width: 100%;
    min-height: 640px;
    margin-bottom: 32px;
  }

  .about-us__project {
    flex-direction: column;
  }

  .work__descr {
    width: 50%;
  }

  .footer__center {
    transform: none;
  }

  .footer__right {
    display: none;
  }
}

@media (min-width:1025px) and (max-width: 1180px) {
  .header__item:not(:last-child) {
    margin-right: 55px;
  }
}

/* for 1024px */

@media (max-width: 1024px) {
  .container {
    margin-bottom: 81px;
  }

  .header {
    padding: 25px 50px 23px;
  }

  .header__container {
    margin: 0;
    padding: 0px;
  }

  .header__logo {
    width: 150px;
    height: 48px;
    margin-right: auto;
  }

  .header__nav {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 40px;
    padding-left: 50px;
    width: 41%;
    min-height: 768px;
    background-color: #fff;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  }

  .header__nav.is-active {
    transform: none;
    opacity: 1;
  }

  .header__list {
    display: block;
    margin: 0px;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .header__link:nth-child(2) {
    margin-bottom: 65px;
  }

  .header__menu {
    display: block;
    margin-right: auto;
    padding: 0;
    width: 30px;
    height: 23px;
    border: none;
    background-image: url("../img/menu-button.svg");
    background-color: white;
    cursor: pointer;
  }

  .header__close {
    display: block;
    margin-bottom: 94px;
    padding: 0px;
  }

  .header__close:focus {
    outline: 2px solid #FF9900;
  }

  .hero__container {
    max-width: 924px;
  }

  .hero__content {
    padding: 160px 77px;
  }

  .swiper-slide:nth-child(2) {
    background-image: url("../img/hero-bg-1024.jpg");
  }

  .header__link {
    font-size: 24px;
    line-height: 29px;
  }

  .hero__title {
    max-width: 770px;
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    max-width: 660px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .about-us__container {
    max-width: 954px;
  }

  .about-us__title {
    padding: 0;
    margin-bottom: 9px;
  }

  .about-us__descr {
    padding: 0;
    margin-bottom: 55px;
    min-height: 263px;
    line-height: 32px;
  }

  .about-us__project {
    flex-direction: column;
  }

  .about-us__blog-item {
    width: 100%;
    min-height: 640px;
    margin: 0px;
    margin-bottom: 32px;
    background-size: cover;
  }

  .about-us__bottom {
    min-width: 100%;
  }

  .about-us__blog-descr {
    font-size: 16px;
    line-height: 32px;
    margin-right: auto;
  }

  .about-us__item {
    padding-right: 154px;
  }

  .blog-text-title {
    margin-bottom: 8px;
  }

  .blog-text-descr {
    font-size: 16px;
  }

  .work__container {
    max-width: 954px;
    margin-bottom: 80px;
  }

  .work__title {
    margin-bottom: 48px;
  }

  .work__list {
    margin-bottom: 50px;
  }

  .work__left-block {
    background-position: left 487px top 10px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .work__first-tab {
    background-image: url("../img/work-bg-1024.jpg");
  }

  .work__descr {
    width: 437px;
    margin-bottom: 25px;
  }

  .ask__container {
    max-width: 954px;
    margin-bottom: 85px;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 22px;
  }

  .ui-accordion .ui-accordion-content {
    max-width: 756px;
  }

  .ask__item {
    padding: 39px 0px;
  }

  .ask__item:nth-child(2) {
    padding: 31px 0px;
  }

  .ask__item:nth-child(4) {
    padding: 27px 0px;
  }

  .ask__item:nth-child(5) {
    padding: 27px 0px;
  }

  .ask__title {
    margin-bottom: 29px;
  }

  .footer__container {
    width: 100%;
    max-width: 954px;
    padding-bottom: 50px;
  }

  .footer__left {
    margin-right: 133px;
    min-width: 251px;
  }

  .footer__center {
    transform: none;
  }

  .footer__btn {
    padding-right: 37px;
    padding-left: 37px;
    margin-right: 16px;
  }

  .footer__right {
    display: none;
  }
}

@media (min-width:769px) and (max-width:1000px) {
  .footer__container {
    padding: 51px 15px 46px;
    margin-bottom: 0;
    padding-right: 127px;
    flex-direction: column-reverse;
  }
}

/* fore 768px */

@media (max-width: 768px) {
  .header {
    padding: 8px 50px;
    min-height: 69px;
  }

  .header__menu {
    margin-right: auto;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__nav {
    padding-top: 22px;
  }

  .logo__img {
    height: 48px;
    width: 150px;
  }

  .hero__container {
    max-width: 668px;
  }

  .hero__content {
    padding: 160px 40px;
  }

  .hero__title {
    max-width: 588px;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    max-width: 588px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-us__container {
    max-width: 698px;
  }

  .about-us__title {
    margin-bottom: 9px;
  }

  .about-us__descr {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 32px;
  }

  .about-us__blog-item {
    min-height: 650px;
    background-image: url("../img/work-bg-768.jpg");
  }

  .about-us__bottom {
    padding: 34px 40px;
  }

  .about-us__blog-descr {
    margin-right: auto;
    width: 366px;
    height: 128px;
    font-size: 16px;
    line-height: 32px;
  }

  .about-us__item {
    padding: 34px 43px 35px 170px;
    min-height: 235px;
    background-position: top 68px left 40px;
    background-size: 114px 99px;
  }

  .blog-text-title {
    width: auto;
    font-size: 24px;
    line-height: 29px;
  }

  .work__container {
    max-width: 698px;
    min-height: 979px;
    margin-bottom: 80px;
  }

  .work__item:not(:last-child) {
    margin-right: auto;
  }

  .work__left-block {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 668px 284px;
  }

  .work__first-tab {
    background-image: url("../img/about-us-bg-768.jpg");
  }

  .work__title-descr {
    margin: 0 0 6px 0;
    padding: 323px 0 0;
  }

  .work__descr {
    width: 100%;
    margin-right: 0;
  }

  .ask__container {
    max-width: 698px;
    margin-bottom: 80px;
  }

  .ui-accordion .ui-accordion-content {
    max-width: 570px;
  }

  .ask__head {
    font-size: 20px;
    line-height: 32px;
  }

  .ask__head-slash {
    margin-right: 0px;
  }

  .ask__item {
    padding: 39px 0px;
  }

  .ask__item:nth-child(3) {
    padding: 29px 0px;
  }

  .ask__item:nth-child(4) {
    padding: 30px 0px;
  }

  .ask__item:nth-child(5) {
    padding: 30px 0px;
  }

  .ui-accordion .ui-accordion-header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    padding-right: 85px;
  }

  .footer__container {
    max-width: 668px;
    padding: 51px 12px 46px 12px;
    margin-bottom: 0;
    flex-direction: column-reverse;
  }

  .footer__right {
    display: none;
  }

  .footer__form-input {
    max-width: 541px;
  }

  .footer__form-textarea {
    max-width: 541px;
  }

  .footer__left {
    height: 150px;
  }

  .footer__list {
    display: none;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__center {
    margin-bottom: 50px;
  }

  .footer__button {
    padding: 20px 37.5px 18px 37.5px;
  }
}

@media (max-width:650px) {

  .header__input {
    width: 220px;
  }

  .about-us__bottom {
    flex-direction: column;
    align-items: center;
  }

  .about-us__blog-descr {
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
  }

  .about-us__item {
    padding: 25px;
    padding-top: 150px;
    background-position: top 25px left 25px;
  }

  .footer__btn {
    margin-bottom: 15px;
  }

  .work__item:not(:last-child) {
    margin-right: 44px;
  }
}

@media (max-width:400px) {
  .header__form {
    padding: 16px 10px 16px 10px;
  }

  .form__active {
    transform: translateX(-78%) translateY(-30%);
  }

  .header__input {
    width: 200px;
  }

  .hero__title {
    font-size: 40px;
    line-height: 44px;
  }

  .section-title {
    font-size: 20px;
    line-height: 22px;
  }

  .work__item-btn {
    font-size: 14px;
    line-height: 17px;
  }

  .footer__left {
    margin-right: none;
  }
}

/* for 320px */

@media (max-width: 320px) {
  .container {
    margin-bottom: 60px;
  }

  .header {
    max-width: 320px;
    max-height: 69px;
    padding: 17px 15px;
  }

  .header__logo {
    max-width: 110px;
    max-height: 35px;
  }

  .header__nav {
    width: 100%;
    min-height: 377px;
    padding-left: 15px;
  }

  .header__close {
    margin-bottom: 32px;
  }

  .header__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header__link {
    font-size: 16px;
    line-height: 20px;
  }

  .header__input {
    width: 150px;
  }

  .form__active {
    transform: translateX(-87%) translateY(-30%);
    padding: 23px 15px;
    border-radius: 0;
  }

  .header__input {
    width: 220px;
  }

  .header__btn-submit {
    margin: 0;
  }

  .hero__container {
    max-width: 290px;
    text-align: center;
  }

  .swiper-slide:nth-child(2) {
    background-image: url("../img/hero-bg-320.jpg");
  }

  .hero__content {
    padding: 60px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    max-width: 247px;
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .hero__descr {
    max-width: 247px;
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero__btn {
    display: flex;
    padding: 13px 25px 12px 29px;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__container {
    margin-bottom: 56px;
  }

  .about-us__title {
    margin-bottom: 20px;
  }

  .about-us__descr {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__blog-item {
    padding: 200px 0 0;
    margin-bottom: 23px;
    width: 100%;
    min-height: 404px;
    background-image: url("../img/about-us-bg-320.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about-us__bottom {
    min-width: 290px;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    padding: 0;
    background: transparent;
  }

  .about-us__blog-descr {
    width: 290px;
    margin: 0 0 11px 0;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #333;
  }

  .about-us__blog-btn {
    width: 160px;
    height: 40px;
    padding: 11px 14px 14px 15px;
    border: 2px solid #FF9900;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #FF9900;
  }

  .about-us__blog-btn:hover {
    color: white;
  }

  .about-us__blog-btn:focus {
    color: white;
  }

  .about-us__item {
    padding: 65px 0 0;
    border: none;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: 64px 49px;
    background-position: top left;
  }

  .about-us__item:nth-child(2) {
    padding-top: 60px;
  }

  .about-us__item:not(:last-child) {
    margin-bottom: 28px;
  }

  .about-us__item:nth-child(1) {
    background-image: url("../img/about-us-bg1-320.svg");
  }

  .about-us__item:nth-child(2) {
    background-image: url("../img/about-us-bg2-320.svg");
  }

  .blog-text-title {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #333;
  }

  .blog-text-descr {
    padding: 4px 0;
    font-size: 14px;
    line-height: 28px;
    color: #333;
  }

  .work__container {
    margin-bottom: 60px;
  }

  .work__left-block {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 290px 160px;
  }

  .work__first-tab {
    background-image: url("../img/work__blog-320.jpg");
  }

  .work__title {
    margin-bottom: 21px;
  }

  .work__list {
    margin-bottom: 16px;
  }

  .work__item:not(:last-child) {
    margin-right: 44px;
  }

  .work__item-btn {
    font-size: 14px;
    line-height: 17px;
  }

  .work__title-descr {
    padding-top: 176px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
  }

  .work__descr {
    margin-bottom: 17px;
    width: 290px;
    font-size: 14px;
    line-height: 28px;
  }

  .work__btn {
    margin-right: 5px;
    padding: 14px 14px 14px 15px;
    width: 162px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
  }

  .work__btn-docs {
    padding: 11px 29px 14px 30px;
    width: 118px;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
  }

  .ask__title {
    margin-bottom: 16px;
  }

  .ask__container {
    margin-bottom: 59px;
  }

  .ask__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .ask__item:nth-child(3) {
    padding: 28px 0px;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 14px;
  }

  .ask__head {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .ui-accordion .ui-accordion-content {
    max-width: 243px;
    font-size: 12px;
  }

  .ask__more {
    max-width: 30px;
    max-height: 30px;
  }

  .ask__item:nth-child(2) {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .ask__item:nth-child(4) {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .ask__item:nth-child(5) {
    padding-top: 33px;
    padding-bottom: 30px;
  }

  .footer__container {
    padding: 33px 15px 32px 15px;
    margin: 0px;
  }

  .footer__right {
    display: none;
  }

  .footer__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .footer__center {
    margin-bottom: 16px;
  }

  .footer__form-input {
    padding-left: 20px;
    font-size: 14px;
    line-height: 32px;
  }

  .footer__form-textarea {
    padding-left: 20px;
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 32px;
  }

  .footer__btn {
    display: block;
    padding: 12px 31px 13px 25px;
    margin: auto;
    margin-bottom: 11px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__check {
    margin-left: 6px;
    padding-bottom: 16px;
    border-bottom: 1px solid #595959;
  }

  .footer__left {
    margin-right: 0;
    height: auto;
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 16px;
    max-width: 131px;
    max-height: 42px;
  }

  .footer__list-social {
    max-width: 153px;
  }

  .footer__item-social:not(:last-child) {
    margin-right: 16px;
  }

  .footer__social-icon {
    max-width: 40px;
    max-height: 40px;
  }
}
